body main section.box-form#pedidos {
    max-width: 900px;
    border:none;
    padding:0px;
}
body main section.box-form#pedidos #pedidosCad{
    padding:20px;
    border:1px solid var(--borda);
    border-radius:5px;
    margin-bottom:20px;
}
body main section#pedidos .box-form-pedido {
    background-color: #ecf0f4;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    padding: 6px;
    margin: 10px 0px;
}

body main section#pedidos .box-form-pedido input {
    width: 100%;
    margin: 0px;
    background-color: #fff;
}

body main section#pedidos .box-form-pedido input[name="codProduto"] {
    flex: 1;
}

body main section#pedidos .box-form-pedido input[name="descProduto"] {
    flex: 5;
}

body main section#pedidos .box-form-pedido input[name="precoProduto"] {
    flex: 2;
}

body main section#pedidos .box-form-pedido input[name="quantidadeProduto"] {
    flex: 2;
}

body main section#pedidos .box-form-pedido input[type="submit"] {
    flex: 4;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

body main section#pedidos h3 {
    color: #0077b8;
    border-top: 1px solid #222;

}

body main section#pedidos .table-pedido {
    width: 100%;
    border-spacing: 0px;
    margin-top: 10px;
}

body main section#pedidos .table-pedido td, body main section#pedidos .table-pedido th {
    padding: 10px;
}

body main section#pedidos .table-pedido th:nth-child(1) {
    width: 100px;
}

body main section#pedidos .table-pedido th:nth-child(3) {

    width: 150px;
}

body main section#pedidos .table-pedido th:nth-child(4) {

    width: 80px;
}

body main section#pedidos .table-pedido th:nth-child(5) {
    width: 150px;
}

body main section#pedidos .table-pedido th:nth-child(6) {
    width: 24px;
}

body main section#pedidos .table-pedido th {
    text-align: left;
    padding: 10px;
}

body main section#pedidos .table-pedido tr .btn-delete {
    cursor: pointer;
    background-color: transparent !important;
    color: red;
}

body main section#pedidos .table-pedido tr:nth-child(even) {
    /* background-color: #f8f8f8; */
}

body main section#pedidos .table-pedido tr.tr-marcada {
    background-color: rgb(255, 80, 80) !important;
    color: #fff !important;
}

body main section#pedidos .table-pedido tr:nth-child(odd) {
    background-color: #fff;
}
body main section#pedidos #salvarPedido{
    background-color: green;
    padding: 8px 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em
}
body main section#pedidos #total {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0px;
}

body main section#pedidos #total span {
    background-color: #f7f7f7;
    color: red;
    padding: 5px;
    font-weight: bold;
}

body main section#pedidos #formPedidos .box-form-pedido input {
    font-size: 1em;
}

body main section#pedidos #boxPedidosRealizados{
    display: flex;
    flex-direction: column-reverse;
}
body main section#pedidos #pedidosRealizados{
    
    border:1px solid var(--borda);
    border-radius:5px;
   
    
    margin-bottom:20px;
}
body main section#pedidos #pedidosRealizados .title{
    padding-left:10px;
    align-items: center;
}
body main section#pedidos #pedidosRealizados .btn-delete{
    
}
body main section#pedidos #pedidosRealizados .id{
    color:rgb(212, 212, 212);
    font-size:12px;
}
body main section#pedidos #pedidosRealizados .table-pedido tfoot{
    
}
body main section#pedidos #pedidosRealizados .table-pedido tfoot tr td:nth-child(1){
    text-align: right;
    font-weight: bold;
    background-color: #f7f7f7;
    border-radius:0px 0px 0px 5px;
    border-top:1px solid var(--borda)
    
}
body main section#pedidos #pedidosRealizados .table-pedido tfoot tr td:nth-child(2){
    text-align: left;
    font-weight: bold;
    background-color: #f7f7f7;
    border-radius:0px 0px 5px 0px;
    border-top:1px solid var(--borda)
}
body main section#pedidos #pedidosVazio{
    padding:15px 0px;
}
